---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Empyrean Weapons | Eventide XI";
const description =
    "Information on Empyrean weapon changes, aftermaths, and acquisition.";
---

<BaseLayout {title} {description}>
    <main class="container" id="main-content">
        <h1 class="h1-gradient-title">Empyrean Weapons</h1>
        <div class="info-dump" style="padding: 0 20px 40px;">
            <p class="content-intro">
                Eventide XI features enhanced progression for Empyrean weapons
                with custom aftermaths and expanded job access.
            </p>

            <section id="empyrean" class="weapon-section">
                <h2>Empyrean Weapons</h2>
                <p>
                    The ultimate chase piece for any dedicated adventurer. Only a handful of Empyreans exist on the server as of December 2025, and most weapon types have yet to be obtained. Mystery still surrounds the capabilities of these weapons, but one thing is certain: if you manage to obtain one, you'll be in a very exclusive club, and you'll be sought after by many.
                </p>
                <br />
                <p>What's known so far:</p>
                <ul>
                    <li>
                        Joachim in Port Jeuno assists in acquiring Empyrean
                        weapons.
                    </li>
                    <li>All Empyrean weapons are available.</li>
                    <li>Killing T4 HNMs are required.</li>
                    <li> Empyrean weapon power adjusted to ensure linear growth
                        from Relic > Empy.
                    </li>
                    <li>GEO added to Empyrean Club tree.</li>
                </ul>

                
            </section>
        </div>
    </main>
</BaseLayout>
