---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Patch Notes | Eventide XI";
const description =
  "Stay up-to-date with the latest changes, bug fixes, and features on Eventide XI.";
---

<BaseLayout {title} {description}>
  <script
    slot="head"
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      itemListElement: [
        {
          "@type": "ListItem",
          position: 1,
          name: "Home",
          item: "https://eventide-xi.com/",
        },
        {
          "@type": "ListItem",
          position: 2,
          name: "Patch Notes",
          item: "https://eventide-xi.com/patch-notes",
        },
      ],
    })}
  />

  <main class="container" id="main-content">
    <h1 style="text-align: center;">Patch Notes</h1>
    <p style="text-align: center;">
      WIP: The patch notes have been temporarily taken down while we migrate to
      a new system.
    </p>
  </main>
</BaseLayout>
